<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senu - Your AI Startup Copilot</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Senu</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="{{ url_for('entrepreneur') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="{{ url_for('feedback') }}"><i class="fas fa-chart-line"></i> Feedback</a></li>
                <li><a href="{{ url_for('resources') }}"><i class="fas fa-book"></i> Resources</a></li>
                <li><a href="{{ url_for('signin') }}"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
    <section class="hero">
        <div class="hero-content">
            <h2>Ready to Elevate Your Startup?</h2>
            <p>Upload your pitch deck and receive personalized feedback to boost your business.</p>
            <div class="step-container">
                <div class="step">
                    <div class="circle">1</div>
                    <span class="label">Profile</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">2</div>
                    <span class="label">Evaluate</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">3</div>
                    <span class="label">RoadMap</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">4</div>
                    <span class="label">Execute</span>
                </div>
            </div>
            <div id="action-container">
                <div id="form-container">
                    <h3>Upload Pitch Deck -> Get instant score</h3>
                    <form id="pitchDeckForm" method="POST" enctype="multipart/form-data">
                        <input type="email" id="email" name="email" autocomplete="email" placeholder="Your Email" required>
                        <input type="file" id="pitchDeck" name="pitchDeck" accept="application/pdf" required>
                        <button id="submitBtn" type="submit">Analyze my Pitch Deck</button>
                    </form>
                </div>
                --- OR ---
                <div id="chat-containter">
                    <h3>Start Conversation</h3>
                    <form id="chatForm" method="GET" action="/chat">
                    <button id="chatBtn" type="submit">Start Chat</button>   

                    </form>
                </div>
            </div>
        </div>

    </section>

    <section class="output">

    </section>
    
    </main>
    <footer>
        <p>&copy; 2024 Senu. All rights reserved.</p>
    </footer>
    <script src="static/scripts.js"></script>
</body>
</html>
